.w3collapsible {
  background-color: #f0e9db;
  color: #868279;
  padding: 8px 18px 8px 8px;
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 3px 3px 0 0;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.w3active,
.w3collapsible:hover {
  background-color: #f0e9cb;
}

.w3content {
  filter: blur(3px);
  padding: 18px;
  display: block;
  overflow: hidden;
  background-color: #f3f3f3;
  margin-bottom: 15px;
}