.tree ul, .tree ul ul {
  list-style: none;
 } 
.tree ul ul {
 }
 .tree ul li {
  margin: 0;
  padding: 0 7px;
  line-height: 20px; 
  border-left: 1px solid #868279;
 }
 .tree ul li:last-child {
     border-left:none;
 }
 .tree ul li:before {
    position:relative;
    top:-0.3em;
    height:22px;
    width:12px;
    color:white;
    border-bottom:1px solid #868279;
    content:"";
    display:inline-block;
    left:-7px;
 }
 .tree ul li:last-child:before {
    border-left:1px solid #868279;
    border-radius: 0px 0px 0px 3px   
 }