a.ntnu-button {
    font: 600 14px "Source Sans Pro", Georgia, serif;
    background: #fff;
    color: #00509e;
    border: 1px solid #00509e;
    border-color: #00509e !important;
    border-style: solid !important;
    border-radius: 10rem;
    display: inline-block;
    padding: 5px 15px;
    height: auto;
    font-weight: bold;
    line-height: 1.5em;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    text-decoration: none
}

a.ntnu-button:hover {
    background: #00509e;
    color: #fff;
    text-decoration: none
}