div.box {
  padding: 10px;
  border-radius: 5px;
  position: relative;
  padding: 1rem 1rem 1rem 3.5rem;
}

div.box>p {
  margin-bottom: 0px;
}

div.box>*:first-child::before {
  font-family: bootstrap-icons !important;
  font-size: 1.5rem;
  padding: 0.8rem;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: grid;
}

div.milestone {
  background-color: #E3BCDA;
}

div.milestone>*:first-child::before {
  content: '\f706';
  color: #75225E;
}

div.delivery {
  background-color: #ffd9ab;
}

div.delivery>*:first-child::before {
  content: '\f1be';
  color: #fc8c03;
}

div.definition {
  background-color: #EEE5D5;
}

div.definition>*:first-child::before {
  content: '\f3e9';
  color: #7D705A;
}

div.guideline {
  background-color: #fae7e8;
}

div.guideline>*:first-child::before {
  content: '\f548';
  color: #e45460;
}

div.report {
  background-color: #D6E5F0;
}

div.report>*:first-child::before {
  content: '\f43e';
  color: #1481b8;
}

div.warning {
  background-color: #ffd9ab;
}

div.warning>*:first-child::before {
  content: '\f33a';
  color: #fc8c03;
}

div.tip {
  background-color: #E3BCDA;
}

div.tip>*:first-child::before {
  content: '\f402';
  color: #75225E;
}

div.task {
  background-color: #fae7e8;
}

div.task>*:first-child::before {
  content: '\f5db';
  color: #e45460;
}