div.tipsbox {
  padding: 12px;
  background-color: #EFF7FF;
  border-radius: 0px;
  border-top: 6px solid #00509e;
  margin: 1rem 0 1rem 0;
  }
  
div.tipsbox::before { 
  content: "Tips:";
  font-weight: bold;
  display: block;
  color: #00509e;
  padding: 0px 0 12px 0;
  }

div.tipsbox ul li:before {
  content: '\f26a';
  font-family: bootstrap-icons !important;
  float: left;
  margin-left: -1.5em;
  color: #00509e;
  line-height: 1.5rem;
}


div.tipsbox ul {
  list-style-type: none;
}