div.figure {
  padding: 20px 0 20px 0;
  width: 100%;
}

div.figurefullwitdth {
  padding: 20px 0 20px 0;
  margin-left: -33px;
  margin-right: -33px;
  width: 100%;
}

figcaption {
  color: #868279;
}