div.check ul,
div.check ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

div.check ul {
  margin: 2em 0;
}

div.check ul li {
  margin: 1em;
  margin-left: 3em;
}

div.check ul li:before {
  content: '\f26a';
  font-family: bootstrap-icons !important;
  font-size:20;
  float: left;
  margin-left: -1.5em;
  color: #1481b8;
}