#showquota configfile
#by Giulio Librando
home_server_ip: 'localhost'
home_server_command: 'xfs_quota -x -c 'report -h' /home'
beegfs_server_ip: 'localhost'
beegfs_server_command: 'beegfs-ctl --getquota --gid %GID%'
