div.quotedoc {
  padding: 22px;
  xbackground-color: #EFF7FF;
  border-radius: 0px;
  border-top: 0px solid #00509e;
  #margin: 1rem 0 1rem 0;
}

div.quotecontent {
  font-size:1em;
  
}

div.quotetitle {
  font-style: italic;
  margin-bottom: 2rem;
}

div.quotedoc h1:first-child,
div.quotedoc h2:first-child,
div.quotedoc h3:first-child {
  margin-top: 0em;
}