[build-system]
requires = [ "poetry-core",]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "funget"
version = "1.0.1"
description = ""
authors = [ "farfun <1007530194@qq.com>",]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.7"

[tool.poetry.scripts]
funget = "funget.script:funget"
