.rubric p {
	margin: 0px
}

.rubric th {
	text-align: center;
	padding: 6px;
}

.rubric td {
	vertical-align: top;
	font-size: 12px;
	padding: 6px;
}

.rubric th {
	font-size: 12px;
	vertical-align: top;
}

.rubric td:nth-child(2),
.rubric th:nth-child(2) {
	background-color: #D0E8DC;
	width: 22%
}

.rubric td:nth-child(3),
.rubric th:nth-child(3) {
	background-color: #FCFDE3;
	width: 22%
}

.rubric td:nth-child(4),
.rubric th:nth-child(4) {
	background-color: #F8D9C2;
	width: 22%
}

.rubric td:nth-child(5),
.rubric th:nth-child(5) {
	background-color: #EBBCB9;
	width: 22%
}

.rubric tfoot td {
	text-align: right;
	border-bottom: none;
	padding: 1px;
}

.rubric tfoot a {
	font-size: 12px;
	font-style: italic;
	color: gray
}